*

!app
!config
!bootstrap
!database
!lang
!resources/
!routes/
!public/
public/storage/
public/_media/
!storage/**/.gitignore

!.env
!artisan
!composer.json
!composer.lock
!package.json
!postcss.config.json
!server.php
!tailwind.config.json
!tsconfig.json
!tsconfig.node.json
!vite.config.tsconfig
!yarn.lock
